.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: gray;
  z-index: 100;
}

.left-section {
  align-items: center;
  display: flex;
}

.mid-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.right-section {
  width: 180px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.hamburger {
  height: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.Search {
  height: 40px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-left: -1px;
  border-radius: 2px;
  margin-right: 8px;
  position: relative;
}

.VSearch {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(240, 240, 240);
}

.SearchBar {
  flex: 1;
  height: 37px;
  border: 1px solid gray;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}

.SearchBar::placeholder {
  font-size: 16px;
  padding-left: 10px;
  font-size: 16px;
}

.SearchIcon {
  height: 25px;
  margin-top: 3px;
}

.VSearchIcon {
  height: 24px;
  margin-top: 3px;
}

.uploadIcon {
  height: 24px;
}

.youtubeApps {
  height: 24px;
}

.notif {
  height: 24px;
}

.notifcont {
  position: relative;
}

.notifcount {
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 10px;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.curUserPic {
  height: 32px;
  border-radius: 16px;
}
